In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('C:/Users/JH/Desktop/adjtrain.csv')
test = pd.read_csv('C:/Users/JH/Desktop/adjtest.csv')

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Title        891 non-null    object
 13  Family       891 non-null    int64
 14  First Name   891 non-null    object
 15  Cabin_Grade  891 non-null    object
 16  Cabin_Score  891 non-null    int64
 17  Age_Band     891 non-null    object
 18  Fare_band    891 non-null    object
dtypes: float64(2), int64(7), object(10)
memory usage: 132.4+ KB

In [3]:
features_drop= ['Name','Age_Band','SibSp','Parch','Ticket','Fare_band','Cabin','First Name','Cabin_Grade','Fare','Cabin_Score']
train = train.drop(features_drop,axis=1)

In [4]:
features_drop= ['Name','Age_Band','SibSp','Parch','Ticket','Fare_band','Cabin','Cabin_Grade','Fare','Cabin_Score']
test = test.drop(features_drop,axis=1)

In [5]:
train_and_test = [train, test]

In [10]:
for dataset in train_and_test:
    dataset['Cabin_Score'] = dataset['Cabin_Score'].replace(0, 'No')
    dataset['Cabin_Score'] = dataset['Cabin_Score'].replace(1, 'Yes')

KeyError: 'Cabin_Score'

In [6]:
for dataset in train_and_test:
    dataset['Title'] = dataset['Title'].replace(['Mrs','Miss','Master','Others'], 'boho')

In [7]:
for dataset in train_and_test:
    dataset['Embarked'] = dataset['Embarked'].replace(['C'], 'Q')

In [8]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age Embarked Title  Family
0            1         0       3    male  22.0        S    Mr       1
1            2         1       1  female  38.0        Q  boho       1
2            3         1       3  female  26.0        S  boho       0
3            4         1       1  female  35.0        S  boho       1
4            5         0       3    male  35.0        S    Mr       0

## 스케일링

1. 연속형 변수인 Age, Fare, Family 는 StandarScaler 적용
2. 범주형 변우니 Pclass, Sex, Embarked, Title, Scabin_Score dummy(가변수화) 적용

In [9]:
train_and_test = [train, test]

In [10]:
from sklearn.preprocessing import StandardScaler
# preprocessing : 전처리

scaler = StandardScaler()

for dataset in train_and_test:
    scaler.fit(dataset[['Family','Age']])
    sub_set = scaler.transform(dataset[['Family','Age']])
    dataset['Family'] = sub_set[:,0]
    dataset['Age'] = sub_set[:,1]

In [11]:
train.head()

   PassengerId  Survived  Pclass     Sex       Age Embarked Title    Family
0            1         0       3    male -0.584488        S    Mr  0.059160
1            2         1       1  female  0.621273        Q  boho  0.059160
2            3         1       3  female -0.283047        S  boho -0.560975
3            4         1       1  female  0.395193        S  boho  0.059160
4            5         0       3    male  0.395193        S    Mr -0.560975

1. 범주형 변수들은 가변수화가 필요합니다. 수치로 표현시 숫자로 인한 관계성이 존재할 수 있기 때문에

In [12]:
for dataset in train_and_test:
    dataset['Pclass'] = dataset['Pclass'].replace(1, 'A')
    dataset['Pclass'] = dataset['Pclass'].replace(2, 'B')
    dataset['Pclass'] = dataset['Pclass'].replace(3, 'C')

In [13]:
train = pd.get_dummies(train, drop_first=True)
test = pd.get_dummies(test,drop_first=True)

In [14]:
train.head()

,PassengerId,Survived,Age,Family,Pclass_B,Pclass_C,Sex_male,Embarked_S,Title_boho
0,1,0,-0.584488,0.059160,0,1,1,1,0
1,2,1,0.621273,0.059160,0,0,0,0,1
2,3,1,-0.283047,-0.560975,0,1,0,1,1
3,4,1,0.395193,0.059160,0,0,0,1,1
4,5,0,0.395193,-0.560975,0,1,1,1,0

In [15]:
test.head()

,PassengerId,Age,Family,Pclass_B,Pclass_C,Sex_male,Embarked_S,Title_boho
0,892,0.335302,-0.553443,0,1,1,0,0
1,893,1.300439,0.105643,0,1,0,1,1
2,894,2.458603,-0.553443,1,0,1,0,0
3,895,-0.243780,-0.553443,0,1,1,1,0
4,896,-0.629834,0.764728,0,1,0,1,1

In [16]:
features_drop = ['PassengerId', 'Survived']
train_label = train['Survived']
train_features = train.drop(features_drop, axis=1)
test_features = test.drop('PassengerId', axis=1)

print(train_features.shape, train_label.shape, test_features.shape)

(891, 7) (891,) (418, 7)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [18]:
X_features, Y_features, X_label, Y_label = train_test_split(train_features, train_label, test_size = 0.4 , random_state = 12)

In [19]:
X_features.shape, X_label.shape, Y_features.shape, Y_label.shape

((534, 7), (534,), (357, 7), (357,))

In [23]:
from sklearn.model_selection import cross_val_score

clf = LogisticRegression(C=1000, max_iter= 3000 ,solver= 'sag')
scores = cross_val_score(clf, train_features,train_label, cv=5)
scores

array([0.80446927, 0.80337079, 0.79775281, 0.81460674, 0.83146067])

In [36]:
def train_test(model):

    model.fit(train_features, train_label)
    prediction = model.predict(test_features)
    accuracy = round(model.score(train_features, train_label) * 100, 4)
    print("Accuracy : ", accuracy, "%")
    return prediction

In [24]:
def train_and_test(model):

    model.fit(train_features, train_label)
    prediction = model.predict(test_features)
    accuracy = round(cross_val_score(model, train_features,train_label, cv=5).mean()*100,4)
    print ("Accuracy : ", accuracy, "%")
    return prediction

In [26]:
LM_pred = train_and_test(LogisticRegression(C=1000, max_iter= 3000 ,solver= 'sag'))

# 교차검증 O

Accuracy :  81.0332 %

In [27]:
LM_pred = train_test(LogisticRegression(C=1000, max_iter= 3000 ,solver= 'sag'))

# 교차검증 X

NameError: name 'train_test' is not defined

In [29]:
submission = pd.DataFrame({"PassengerId" : test["PassengerId"],
                           "Survived" : LM_pred})
submission.to_csv('C:/Users/JH/Desktop/LM01.csv',index=False)